<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="trangchu.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
    
        <header>
            <img src="img/thtshop-removebg-preview.png" alt="" >
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
                
            </nav>
            <div class="icon1">
                <a href=""><span class="material-symbols-outlined">person</span></a>
                <a href=""><span class="material-symbols-outlined">search</span></a>
                <a href=""><span class="material-symbols-outlined">favorite</span></a>
                <a href=""><span class="material-symbols-outlined">shopping_cart</span></a>
            </div>
        </header>
    </div>
        <div class="banner">
            <img src="img/slider_1.png" alt="" >
        </div>
        <div class="container">
        <h2>Sản Phẩm Mới</h2>
        <button class="btn2"><h4>View all product</h4></button>
        <div class="product">

            <div class="pro-item">
                <img src="img/sp01.png" alt="">
                <div class="ten">Syltherine</div>
                <div class="gia">2.500.000đ</div>
                <button class="btn1">Add to card</button>
            </div>
            <div class="pro-item">
                <img src="img/sp01.png" alt="">
                <div class="ten">Syltherine</div>
                <div class="gia">2.500.000đ</div>
                <button class="btn1">Add to card</button>
            </div>
            <div class="pro-item">
                <img src="img/sp01.png" alt="">
                <div class="ten">Syltherine</div>
                <div class="gia">2.500.000đ</div>
                <button class="btn1">Add to card</button>
            </div>
            <div class="pro-item">
                <img src="img/sp01.png" alt="">
                <div class="ten">Syltherine</div>
                <div class="gia">2.500.000đ</div>
                <button class="btn1">Add to card</button>
            </div>
        </div>
        <h2>Sản Phẩm HOT</h2>
        <button class="btn2">View all product</button>

        <div class="product">

            <div class="pro-item">
                <img src="img/sp02.png" alt="">
                <div class="ten">Syltherine</div>
                <div class="gia">2.500.000đ</div>
                <button class="btn1">Add to card</button>

            </div>
            <div class="pro-item">
                <img src="img/sp02.png" alt="">
                <div class="ten">Syltherine</div>
                <div class="gia">2.500.000đ</div>
                <button class="btn1">Add to card</button>

            </div>
            <div class="pro-item">
                <img src="img/sp02.png" alt="">
                <div class="ten">Syltherine</div>
                <div class="gia">2.500.000đ</div>
                <button class="btn1">Add to card</button>

            </div>
            <div class="pro-item">
                <img src="img/sp02.png" alt="">
                <div class="ten">Syltherine</div>
                <div class="gia">2.500.000đ</div>
                <button class="btn1">Add to card</button>
            </div>
        </div>
        

        <h2>Tin tức</h2>
        <button class="btn2"><h4>View all news</h4></button>
        <div class="product2">
            <div class="pro-item">
                <img src="img/news1.png" alt="">
                <div class="ten">Giá bán iPhone tháng 11</div>
                <div class="new"><a href="">Xem chi tiết <img class="imgicon" src="img/muitenred.png" alt="" ></a>
                </div>
            </div>
            <div class="pro-item">
                <img src="img/news5.png" alt="">
                <div class="ten">Samsung chính hãng</div>
                <div class="new"><a href="">Xem chi tiết <img class="imgicon" src="img/muitenred.png" alt="" ></a></div>
                
            </div>
            <div class="pro-item">
                <img src="img/news3.png" alt="">
                <div class="ten">Sản phẩm giảm giá</div>
                <div class="new"><a href="">Xem chi tiết <img class="imgicon" src="img/muitenred.png" alt="" ></a></div>

            </div>
            <div class="pro-item">
                <img src="img/news4.png" alt="">
                <div class="ten">iPad chính hãng</div>
                <div class="new"><a href="">Xem chi tiết <img class="imgicon" src="img/muitenred.png" alt="" ></a></div>

            </div>
        </div>
    </div>

        <div class="footer1">
            <div class="icon"><img src="img/cup.png" alt="">
                <p1>Thương hiệu</p1><br><br>
                    <p2>Trên 2 năm tuổi</p2>
                
                
            </div>
            <div class="icon"><img src="img/support_agent_75dp_000000_FILL0_wght700_GRAD200_opsz48.png" alt="">
                <p1>Support mọi lúc 24/7</p1>
                

            </div>
            <div class="icon"><img src="img/workspace_premium_75dp_000000_FILL0_wght700_GRAD200_opsz48.png" alt=""><br>
                <p1>Chế độ bảo hành</p1><br><br>
                <p2>Hấp dẫn, gần gũi</p2>

            </div>
            <div class="icon"><img src="img/local_shipping_74dp_000000_FILL0_wght700_GRAD200_opsz48.png" alt="">
                <p1>Free Ship</p1>
                <!-- <p2>Dưới 10km </p2> -->

            </div>
        </div>
        <footer>
            <div class="container2">
                <div class="logo">
                    <img src="img/thtshop-removebg-preview.png" alt="Furniro">
                    <p>13 P. Trịnh Văn Bô, Xuân Phương,<br>Nam Từ Liêm, Hà Nội</p>
                </div>
                <div class="footer-column">
                    <h3>Sitemap</h3>
                    <a href="#">Home</a><br>
                    <a href="#">Shop</a><br>
                    <a href="#">About</a><br>
                    <a href="#">Contact</a>
                </div>
                <div class="footer-column">
                    <h3>Help</h3>
                    <a href="#">Payment Options</a><br>
                    <a href="#">Returns</a><br>
                    <a href="#">Privacy Policies</a>
                </div>
                <div class="footer-column">
                    <h3>Location</h3>
                    <p>trungpldph51651@gmail.com</p>
                    <p>hieulvph51615@gmail.com</p>
                    <p>tultph51404@gmail.com</p><br>

                </div>
                
                
            </div>
            <hr   align="center" /><br>

            <p3>Copyright © 2024 THT Shop hân hạnh được phục vụ.</p3>
    
    </footer>
    
    </div>
</body>

</html>