<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="test.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <header>
            <img src="img/thtshop-removebg-preview.png" alt="">
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
                
            </nav>
            <div class="icon1">
                <a href=""><span class="material-symbols-outlined">person</span></a>
                <a href=""><span class="material-symbols-outlined">search</span></a>
                <a href=""><span class="material-symbols-outlined">favorite</span></a>
                <a href=""><span class="material-symbols-outlined">shopping_cart</span></a>
            </div>
        </header>
        <div class="banner">
            <img src="img/slider_1.png" alt="">
        </div>
        <h2>New Products</h2>
        <h4>View All Product</h4>
        <div class="product">

            <div class="pro-item">
                <img src="img/sp01.png" alt="">
                <div class="ten">Syltherine</div>
                <div class="gia">2.500.000đ</div>
                <button>Add to card</button>
            </div>
            <div class="pro-item">
                <img src="img/sp01.png" alt="">
                <div class="ten">Syltherine</div>
                <div class="gia">2.500.000đ</div>
                <button>Add to card</button>
            </div>
            <div class="pro-item">
                <img src="img/sp01.png" alt="">
                <div class="ten">Syltherine</div>
                <div class="gia">2.500.000đ</div>
                <button>Add to card</button>
            </div>
            <div class="pro-item">
                <img src="img/sp01.png" alt="">
                <div class="ten">Syltherine</div>
                <div class="gia">2.500.000đ</div>
                <button>Add to card</button>
            </div>
        </div>
        <h2>New Products</h2>
        <h4>View All Product</h4>
        <div class="product2">
            <img src="img/sptest2.png" alt="">
            <img src="img/sptest2.png" alt="">
            <img src="img/sptest2.png" alt="">
        </div>
        <div class="product2">
            <img src="img/sptest2.png" alt="">
            <img src="img/sptest2.png" alt="">
            <img src="img/sptest2.png" alt="">
        </div>

        <h2>News</h2>
        <h4>View All Product</h4>
        <div class="product">

            <div class="pro-item">
                <img src="img/sp02.png" alt="">
                <div class="ten">Syltherine</div>
                <div class="gia">2.500.000đ</div>
                <button>Add to card</button>
            </div>
            <div class="pro-item">
                <img src="img/sp02.png" alt="">
                <div class="ten">Syltherine</div>
                <div class="gia">2.500.000đ</div>
                <button>Add to card</button>
            </div>
            <div class="pro-item">
                <img src="img/sp02.png" alt="">
                <div class="ten">Syltherine</div>
                <div class="gia">2.500.000đ</div>
                <button>Add to card</button>
            </div>
            <div class="pro-item">
                <img src="img/sp02.png" alt="">
                <div class="ten">Syltherine</div>
                <div class="gia">2.500.000đ</div>
                <button>Add to card</button>
            </div>
        </div>

        <div class="footer1">
            <div class="icon"><img src="img/cup.png" alt="">
                <p>Hight Quaity</p>
                <p2>Over 2 years</p2>
            </div>
            <div class="icon"><img src="img/cup.png" alt="">
                <p>Hight Quaity</p>
                <p2>Over 2 years</p2>

            </div>
            <div class="icon"><img src="img/cup.png" alt="">
                <p>Hight Quaity</p>
                <p2>Over 2 years</p2>

            </div>
            <div class="icon"><img src="img/cup.png" alt="">
                <p>Hight Quaity</p>
                <p2>Over 2 years</p2>

            </div>
        </div>
        <footer>
            <div class="container2">
                <div class="logo">
                    <img src="img/thtshop-removebg-preview.png" alt="Furniro">
                    <p>13 P. Trịnh Văn Bô, Xuân Phương,<br>Nam Từ Liêm, Hà Nội</p>
                </div>
                <div class="footer-column">
                    <h3>Sitemap</h3>
                    <a href="#">Home</a><br>
                    <a href="#">Shop</a><br>
                    <a href="#">About</a><br>
                    <a href="#">Contact</a>
                </div>
                <div class="footer-column">
                    <h3>Help</h3>
                    <a href="#">Payment Options</a><br>
                    <a href="#">Returns</a><br>
                    <a href="#">Privacy Policies</a>
                </div>
                <div class="footer-column">
                    <h3>Location</h3>
                    <p>support@euphoria.in</p><br>
                    <p>Ahmedabad Main Road</p>
                    <p>Udaipur, India - 313002</p>
                </div>
                
                
            </div>
            <hr   align="center" /><br>

            <p3>Copyright © 2023 Euphoria Folks Pvt Ltd. All rights reserved.</p3>
    </div>
    </footer>
    </div>
    </div>
</body>

</html>